In [13]:
pip install oracledb

Requirement already satisfied: oracledb in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (1.4.2)
Requirement already satisfied: cryptography>=3.2.1 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from oracledb) (41.0.3)
Requirement already satisfied: cffi>=1.12 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from cryptography>=3.2.1->oracledb) (1.15.1)
Requirement already satisfied: pycparser in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [114]:
import pandas as pd

In [115]:
import oracledb

In [116]:
passw = "MvbW2qcKgsjxmGqahWo5L8Y4"

connection = oracledb.connect(
    user="yash.bhalla",
    password=passw,
    dsn="oracle.cise.ufl.edu:1521/orcl")
print("CONNECTION SUCCESS")

CONNECTION SUCCESS

In [9]:
county = pd.read_csv("county.csv")

In [10]:
myList = []
mycursor = connection.cursor()
insert_query = "INSERT INTO CountyArea (County_id, County, State_Name, County_Area) VALUES(:County_id, :County, :State_Name, :County_Area)"

for i, row in county.iterrows():
    val2 = (row['fips'], row['name'], row['state'], row['area_2010'])
    myList.append(val2)

mycursor.executemany(insert_query, myList)
connection.commit()

In [4]:
statearea = pd.read_csv("stateArea.csv")

In [30]:
accidents = pd.read_csv("accidents.csv")

In [5]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO StateArea (State_Name, State_Area) VALUES(:State_Name, :State_Area)"

for i, row in statearea.iterrows():
    val2 = (row['state'], row['area'])
    myList.append(val2)
    
mycursor.executemany(insert_query, myList)

NameError: name 'statearea' is not defined

In [8]:
connection.commit()

In [31]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

for i, row in accidents.iterrows():
    val = (row['ID'], row['Severity'], row['Distance(mi)'], row['Start_Time'], row['End_Time'], row['ID'], row['ID'])
    myList.append(val)

mycursor.executemany(insert_query, myList, batcherrors=True)
for error in mycursor.getbatcherrors():
    print("Error", error.message, "at row offset", error.offset)
connection.commit()

DatabaseError: ORA-01830: date format picture ends before converting entire input string
Help: https://docs.oracle.com/error-help/db/ora-01830/

In [ ]:
import pandas as pd
from datetime import datetime

# Function to check if a timestamp is in the correct format
def is_valid_timestamp(timestamp_str):
    try:
        datetime.strptime(timestamp_str, "%Y-%m-%d %I:%M:%S %p")
        return True
    except ValueError:
        return False

# Load the Excel file
csv_file_path = '/Users/yashbhalla/Documents/DBMS/ProjectWork/PyInsertScript/accidents.csv'
df = pd.read_csv(csv_file_path)

print(df.columns)

for index, row in df.iterrows():
    timestamp_c = str(row['Start_Time'])  # Adjust the column name
    timestamp_d = str(row['End_Time'])  # Adjust the column name

    if is_valid_timestamp(timestamp_c):
        print(f"Timestamp in column 'C' at index {index} is valid: {timestamp_c}")
    else:
        print(f"Invalid timestamp in column 'C' at index {index}: {timestamp_c}")

    if is_valid_timestamp(timestamp_d):
        print(f"Timestamp in column 'D' at index {index} is valid: {timestamp_d}")
    else:
        print(f"Invalid timestamp in column 'D' at index {index}: {timestamp_d}")

In [22]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (2.0.3)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/d6/7c/20e737300f9bec011fb79c01d8948bc38c854876aac2da2cfcdd0992b153/pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 523.0 kB/s eta 0:00:0000:0100:01
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
Successfully installed pandas-2.1.3
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (3.0.10)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: et-xmlfile in /Users/yashbhalla/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.10
    Uninstalling openpyxl-3.0.10:
      Successfully uninstalled openpyxl-3.0.10
Successfully installed openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 2.3 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [32]:
print(len(accidents))

5217174

In [34]:
new_df1 = accidents.iloc[:1000000,:]
new_df2 = accidents.iloc[1000000:2000000,:]
new_df3 = accidents.iloc[2000000:3000000,:]

new_df4 = accidents.iloc[3000000:4000000,:]
new_df5 = accidents.iloc[4000000:5000000,:]
new_df6 = accidents.iloc[5000000:5217173,:]

In [35]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

for i, row in new_df1.iterrows():
    val = (row['ID'], row['Severity'], row['Distance(mi)'], row['Start_Time'], row['End_Time'], row['ID'], row['ID'])
    myList.append(val)

mycursor.executemany(insert_query, myList, batcherrors=True)
for error in mycursor.getbatcherrors():
    print("Error", error.message, "at row offset", error.offset)
connection.commit()

InternalError: DPY-5002: internal error: read integer of length 3 when expecting integer of no more than length 2

In [36]:
new_df1 = accidents.iloc[:15,:]

In [46]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

for i, row in new_df2.iterrows():
    val = (row['ID'], row['Severity'], row['Distance(mi)'], row['Start_Time'], row['End_Time'], row['ID'], row['ID'])
    myList.append(val)

In [41]:
print(accidents.iloc[1664966])

Unnamed: 0                            3639812
ID                                  A-3649695
Start_Time      2017-07-24 07:15:46.000000000
End_Time        2017-07-24 13:15:46.000000000
Severity                                    2
Distance(mi)                             0.48
Name: 1664966, dtype: object

In [42]:
new_df1 = accidents.iloc[:1000000,:]
new_df2 = accidents.iloc[1000000:2000000,:]
new_df3 = accidents.iloc[2000000:3000000,:]

new_df4 = accidents.iloc[3000000:4000000,:]
new_df5 = accidents.iloc[4000000:5000000,:]
new_df6 = accidents.iloc[5000000:5217173,:]

In [ ]:
print(len(new_df2))

In [48]:
mycursor.executemany(insert_query, myList, batcherrors=True)
connection.commit()

InternalError: DPY-5002: internal error: read integer of length 3 when expecting integer of no more than length 2

In [110]:
row = accidents.iloc[1903576]
print(row)

Unnamed: 0                            3896936
ID                                  A-3926167
Start_Time      2023-02-15 13:45:00.000000000
End_Time        2023-02-15 14:31:30.000000000
Severity                                    2
Distance(mi)                            3.388
Name: 1903576, dtype: object

In [75]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

val = (row['ID'], int(row['Severity']), row['Distance(mi)'], row['Start_Time'], row['End_Time'], row['ID'], row['ID'])
myList.append(val)

In [76]:
print(val)

('A-3649761', 2, 0.48, '2017-07-24 14:32:16.000000000', '2017-07-24 20:32:16.000000000', 'A-3649761', 'A-3649761')

In [77]:
accidents.dtypes

Unnamed: 0        int64
ID               object
Start_Time       object
End_Time         object
Severity          int64
Distance(mi)    float64
dtype: object

In [78]:
mycursor.executemany(insert_query, myList, batcherrors=True)

In [80]:
mycursor.commit()

AttributeError: 'Cursor' object has no attribute 'commit'

In [81]:
connection.commit()

In [117]:
new_df1 = accidents.iloc[:1000000,:]
new_df2 = accidents.iloc[1000000:2000000,:]
new_df3 = accidents.iloc[2000000:3000000,:]

new_df4 = accidents.iloc[3000000:4000000,:]
new_df5 = accidents.iloc[4000000:5000000,:]
new_df6 = accidents.iloc[5000000:5217173,:]

In [ ]:
myList = []
mycursor = connection.cursor()

insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

for i, row in new_df2.iterrows():
    severity_value = row['Severity'].strip() if isinstance(row['Severity'], str) else row['Severity']
    val = {
        'Accident_ID': row['ID'],
        'Severity': int(severity_value) if severity_value else 1,  # Convert to the appropriate data type
        'Distance_Affected': row['Distance(mi)'],
        'Start_Time': row['Start_Time'],
        'End_Time': row['End_Time'],
        'Weather_ID': row['ID'],  # Check if this is the correct column
        'Location_ID': row['ID']  # Check if this is the correct column
    }
    myList.append(val)

#     val = (row['ID'], int(row['Severity']), row['Distance(mi)'], row['Start_Time'], row['End_Time'], row['ID'], row['ID'])
#     myList.append(val)
    
try:
    mycursor.executemany(insert_query, myList, batcherrors=True)
except:
    print('Catch error')
finally: 
    connection.commit()

In [101]:
new_df2 = accidents.iloc[1903576:2000000,:]

In [103]:
connection.commit()

In [ ]:
len(myList)

In [1]:
connection.close()

NameError: name 'connection' is not defined