In [ ]:
import pandas as pd
import oracledb
import re

In [ ]:
passw = "password"

connection = oracledb.connect(
    user="user",
    password=passw,
    dsn="oracle_server_details")
print("CONNECTION SUCCESS")
mycursor = connection.cursor()

In [ ]:
weather = pd.read_csv("weather.csv")

In [ ]:
mycursor = connection.cursor()
insert_query = "INSERT INTO weather (Weather_ID, Temperature, Humidity, Pressure, Wind_Speed, Wind_Chill, Visibility, Precipitation, Time_Of_Day) VALUES(:Weather_ID, :Temperature, :Humidity, :Pressure, :Wind_Speed, :Wind_Chill, :Visibility, :Precipitation, :Time_Of_Day)"

In [ ]:
myList2 = []

In [ ]:
myList = []

In [ ]:
weather.shape

In [ ]:
for i, row in weather.iterrows():
    val2 = (row['ID'], row['Temperature(F)'],row['Humidity(%)'], row['Pressure(in)'], row['Wind_Speed(mph)'],row['Wind_Chill(F)'], row['Visibility(mi)'],row['Precipitation(in)'], row['Sunrise_Sunset'])

    myList.append(val2)
mycursor.executemany(insert_query, myList)

In [ ]:
weather_keys = pd.Series(weather['ID'])

In [ ]:
county_pop = pd.read_csv('county_complete.csv')

In [ ]:
county_pop.columns

In [ ]:
county_pop_years = county_pop[['fips', 'state', 'name', 'pop2010', 'pop2011', 'pop2012',
       'pop2013', 'pop2014', 'pop2015','pop2016', 'pop2017']]

In [ ]:
county_pop_years.dropna()

In [ ]:
pop2016 = {}
pop2017 = {}
pop2018 = {}
pop2019 = {}
pop2020 = {}
pop2021 = {}
pop2022 = {}
pop2023 = {}


for i, row in county_pop_years.iterrows():
    if row['state'] not in pop2016:
        pop2016[row['state']] = 0
    pop2016[row['state']] += row['pop2010']
        
    if row['state'] not in pop2017:
        pop2017[row['state']] = 0 
    pop2017[row['state']] += row['pop2011']
        
    if row['state'] not in pop2018:
        pop2018[row['state']] = 0
    pop2018[row['state']] += row['pop2012']
        
    if row['state'] not in pop2019:
        pop2019[row['state']] = 0 
    pop2019[row['state']] += row['pop2013']
        
    if row['state'] not in pop2020:
        pop2020[row['state']] = 0 
    pop2020[row['state']] += row['pop2014']
        
    if row['state'] not in pop2021:
        pop2021[row['state']] = 0 
    pop2021[row['state']] += row['pop2015']
        
    if row['state'] not in pop2022:
        pop2022[row['state']] = 0 
    pop2022[row['state']] += row['pop2016']
        
    if row['state'] not in pop2023:
        pop2023[row['state']] = 0 
    pop2023[row['state']] += row['pop2017']

In [ ]:
new_df = pd.DataFrame(columns = ['name','year', 'population'])

In [ ]:
for x in pop2016:
    new_df.loc[len(new_df.index)] = [x, 2016, pop2016[x]]

for x in pop2017:
    new_df.loc[len(new_df.index)] = [x, 2017, pop2017[x]]
for x in pop2018:
    new_df.loc[len(new_df.index)] = [x, 2018, pop2018[x]]
for x in pop2019:
    new_df.loc[len(new_df.index)] = [x, 2019, pop2019[x]]
for x in pop2020:
    new_df.loc[len(new_df.index)] = [x, 2020, pop2020[x]]
for x in pop2021:
    new_df.loc[len(new_df.index)] = [x, 2021, pop2021[x]]
for x in pop2022:
    new_df.loc[len(new_df.index)] = [x, 2022, pop2022[x]]
for x in pop2023:
    new_df.loc[len(new_df.index)] = [x, 2023, pop2023[x]]

In [ ]:
new_df.dtypes

In [ ]:
connection.commit()

In [ ]:
myList = []
new_df.to_csv("statepop.csv")
for i, row in new_df.iterrows():
    val = (myDict[row['name']], row['year'], row['population'])
    print(val)
    myList.append(val)

In [ ]:
insert_query = "INSERT INTO StatePopulation (State_Name, Year, Population) VALUES(:State_Name, :Year, :Population)"

mycursor.executemany(insert_query, myList)

In [ ]:
mycursor.execute("CREATE TABLE StatePopulation(State_Name VARCHAR2(40),Year NUMBER,Population NUMBER)")

In [ ]:
state = pd.read_csv("StateCodes.csv")

myDict = {}



for i,row in state.iterrows():
    myDict[row['State']] = row['Alpha code']

In [ ]:
print(myDict)

In [ ]:
statearea = pd.read_csv('statearea.csv')

In [ ]:
insert_query = "INSERT INTO StateArea (State_Name, State_Area) VALUES(:State_Name, :State_Area)"

myList = []

In [ ]:
for i, row in statearea.iterrows():
    val = (row['state'],row['area'])
    myList.append(val)

In [ ]:
mycursor.executemany(insert_query, myList)

In [ ]:
insert_query = "INSERT INTO CountyArea (County_id, County, State_Name, County_Area) VALUES(:County_id, :County, :State_Name, :County_Area)"

myList = []

In [ ]:
countyarea = pd.read_csv("County Data.csv")

In [ ]:
for i, row in countyarea.iterrows():
    val = (row['fips'],row['name'],row['state'],row['area_2010'])
    myList.append(val)
mycursor.executemany(insert_query, myList)

In [ ]:
insert_query = "INSERT INTO AccidentLocation (Location_ID, Street_Name, City, Zipcode, Timezone, County) VALUES(:Location_ID, :Street_Name, :City, :Zipcode, :Timezone, :County)"

myList = []

In [ ]:
location = pd.read_csv("Location3.csv")

In [ ]:
location_keys = pd.Series(location['ID'])

In [ ]:
for i, row in location.iterrows():

    val = (row['ID'],row['Street'],row['City'],row['Zipcode'],row['Timezone'],row['FIPS'])
    myList.append(val)
print("Hello")

In [ ]:
len(myList)

In [ ]:
mycursor.executemany(insert_query, myList)

In [ ]:
accidents = pd.read_csv("accidents.csv")

In [ ]:
insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TIMESTAMP :Start_Time, TIMESTAMP :End_Time, :Weather_ID,:Location_ID)"

# myList = []
# TO_TIMESTAMP(:ts_val, 'YYYY-MM-DD HH24:MI:SS')

In [ ]:
insert_query = "INSERT INTO Accident (Accident_ID, Severity, Distance_Affected, Start_Time, End_Time, Weather_ID,Location_ID) VALUES(:Accident_ID, :Severity, :Distance_Affected, TO_TIMESTAMP(:Start_Time, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(:End_Time, 'YYYY-MM-DD HH24:MI:SS'), :Weather_ID,:Location_ID)"

In [ ]:
lk = location_keys.unique()
wk = location_keys.unique()

In [ ]:
ll = location_keys
wl = location_keys

In [ ]:
tota = ll + wl

In [ ]:
tota = tota.unique()

In [ ]:
tot = tot.unique()

In [ ]:
myList = []

for i, row in accidents.iterrows():
    val = (row['ID'],row['Severity'],row['Distance(mi)'],row['Start_Time'],row['End_Time'],row['ID'],row['ID'])
    myList.append(val)
print("Hello")

In [ ]:
print(len(myList))

In [ ]:
mycursor.executemany(insert_query, myList)

In [ ]:

val = ('A-6',3,'0.01','2016-02-08 07:44:26','2016-02-08 08:14:26', 'A-6', 'A-6')
mycursor.execute(insert_query, val)

In [ ]:
dateRegex = re.compile(/d{4}-/d{2}-/d{2} 07:44:26)

In [ ]:
print(insert_query)